<!DOCTYPE html>
<html>
    <head>
        <title>Optica Focus Minilent</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    </head>
    <body>
        <h1>FOCUS MINILENT</h1>
        <h2>18 DE JULIO 1044 P. 1 AP. 105  - Centro - Montevideo</h2>
        <h3>29007471</h3>
    </body>
</html>