<%- include("partials/header") %>

        <div id="margen" class="ui main text container segment">
            <div class="ui huge header"><h1>FOCUS MINILENT</h1></div>
            <form class="ui form" action="/blogs" method="POST">
                <div class="field">
                    <label>Nombre</label>
                    <input class="field" type="text" placeholder="Nombre" required>
                </div>
                
                <div class="field">
                    <label>Comentario</label>
                    <textarea placeholder="Comentario" required></textarea>
                </div>
                <button type="button" class="btn btn-primary">Enviar</button>
            </form>

        </div>
        

<%- include("partials/footer") %>

