body {
    background-color: #000;
    background-image: url("../img/photo-1513758173941-bfbd2e4166f5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width:100%;
    width:auto;
    height:auto;
    
    
  }

  img {
   opacity: 0.5;
  
   }

#landing-header {
    color: cyan;
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

